<mat-form-field appearance="fill">
    <mat-label>Developer Locations</mat-label>
    <mat-chip-list #chipList>
        <mat-chip *ngFor="let location of locations" [selectable]="selectable" [removable]="removable"
            (removed)="remove(location)" color="accent">
            {{location}}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="New Location" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
</mat-form-field>
